.error {
    font-size: 0.75rem;
    font-weight: 400;
    color: #f89420;
    display: flex;
    flex-direction: row-reverse;
}
.p-button {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    gap: var(--p-button-gap);
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;
    outline-color: transparent;

    font-family: 'FreightSans';
    font-size: 1rem;

    color: var(color-secondary-gray-soft);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--p-button-border-radius);

    padding: 0.5rem var(--p-button-padding-x, 1rem);
}
.p-button:hover {
    background: var(--color-secondary-blue);
    border-color: var(--color-secondary-blue);
}
.p-inputtext.ng-invalid.ng-dirty {
    border-color: #f89420;
}
