:host ::ng-deep .text-muted-color {
    color: #264e72;
}

:host ::ng-deep .chart-container {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: visible !important;
    canvas {
        max-width: 120px !important;
        max-height: 120px !important;
    }
}

// Asegurar que todos los cards tengan la misma altura
// :host ::ng-deep .card {
//     min-height: 200px;
//     display: flex;
//     flex-direction: column;
// }

// Mejorar el color del texto primario usando la paleta
:host ::ng-deep .text-primary {
    color: #00aef0 !important;
}
.spinner-dots {
    display: flex;
    align-items: center;
    gap: 6px;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #264e72;
        animation: bounce 1.4s infinite ease-in-out both;

        &:nth-child(1) {
            animation-delay: -0.32s;
        }

        &:nth-child(2) {
            animation-delay: -0.16s;
        }

        &:nth-child(3) {
            animation-delay: 0s;
        }
    }
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}
